.env
.venv/
__pycache__/
*.pyc
.pytest_cache/
postgres_data/
storage/imports/*
storage/generated/*
storage/templates/*
!storage/imports/.gitkeep
!storage/generated/.gitkeep
!storage/templates/.gitkeep
backup/
dist/
cafeteria_latest.zip
data/archive/
