fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.41
jinja2==3.1.6
python-multipart==0.0.20
itsdangerous==2.2.0
pydantic-settings==2.10.1
openpyxl==3.1.5
pywebview==6.2.1
pyinstaller==6.22.2
